@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');
* {
  font-family: 'Josefin Slab', serif;
  font-size: 26px;
}
 
.banner p{
  font-size: 50px;
  margin-left: 43rem;
  margin-top: -17rem;
  position: absolute;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}
 