{% extends 'base.html' %} {% import "macro.html" as macro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <!-- content block -->
    {% block content %}
    <div class="container">
      <div class="jumbotron">
      <u><h1 class="text-center" style="font-size: 60px">WorldPress 🌎</h1></u>
      <h5 class="text-center" style="font-size: 20px">Welcome to WorldPress🌎 the best updating news in the world</h1>
      </div>
        <h5 class="text-center" style="font-size: 20px"><span style="color:red;font-weight:bold">BREAKING NEWS🌎</span></h1></u>
          <div class="banner">
            <video  controls>
                <source src="../static/Eric Omondi arrested after attempting to storm Parliament buildings.mp4" type="video/mp4">
                <source src="../static/Eric Omondi arrested after attempting to storm Parliament buildings.mp4" type="video/ogg">
                Your browser does not support HTML video.
              </video>
              <p><br>Kenyan comedian Eric Omondi was on Tuesday arrested and later released after he attempted to storm Parliament buildings in Nairobi.</br>
    
             <br> with a list of demands to be presented to their leaders.
                
                Omondi and his troops were however dispersed by police who arrived at the scene and took the comedian into custody in a dramatic arrest.</br></p>
        </div>
      
        <hr />

        <hr />
      <!-- Poster background -->
      <div class="row">
        {% if news %} {{macro.displayNews(news)}} {% else %}
        <h3 class="text-center">You have no news</h3>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
